* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #779dcc;
}

header {
  font-family: obviously-variable, sans-serif;
  font-style: bold;
  color: white;
  background-color: black;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  margin: 0 20px;
  width: calc(100% - 40px);
  top: 20px;
  left: 0;
  z-index: 9999;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.header > div > a {
  color: white;
  text-decoration: none;
}

.cabecera {
  margin: 0;
  padding: 0;
}
.cabecera > div {
  font-family: obviously-variable, sans-serif;
  font-style: normal;
  color: #f5e64f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  position: fixed;
  width: 100%;
  top: 70px;
}

.cabecera > div > p {
  margin: 20px 0 0 0;
}

.cabecera > video {
  width: 100%;
  height: auto;
  margin: 0;
}
@font-face {
  font-family: "Projekt Blackbird";
  src: url("fonts/PROJEKT BLACKBIRD.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.gallery {
  background-color: black;
}

.gallery > div {
  width: 100%;
  height: 700px;
}
