* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header {
  font-family: obviously-variable, sans-serif;
  font-weight: bolder;
  font-size: 24px;
  color: rgb(0, 0, 0);
  background-color: #f5e64f;
  padding: 20px 30px 20px 30px;
  border-radius: 0px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  margin: 0 20px;
  width: calc(100% - 40px);
  top: 20px;
  left: 0;
  z-index: 9999;
  transition: 0.3s;
}

header:hover {
  border-radius: 20px;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header > div > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
  font-weight: normal;
}

.header > div > a:hover {
  font-weight: bold;
}
.cabecera {
  margin: 0;
  padding: 0;
}
.cabecera > div {
  font-family: obviously-variable, sans-serif;
  font-weight: bolder;
  font-size: 24px;
  color: #f5e64f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  position: fixed;
  width: 100%;
  top: 90px;
}

.cabecera > div > p {
  margin: 20px 0 0 0;
}

.cabecera > video {
  width: 100%;
  height: auto;
  margin: 0;
}

.project-header {
  font-family: obviously-variable, sans-serif;
  font-weight: bolder;
  font-size: 48px;
  color: #f5e64f;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 15px;
  padding: 20px 30px 20px 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 3px;
  font-size: 24px;
  border-color: #f5e64f;
  align-items: center;
  justify-content: center;
}

.icon > a {
  color: #f5e64f;
  text-decoration: none;
  transition: 0.3s;
}

.icon > a:hover {
  color: #ffffff;
}

.project-description {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0 55px 0 55px;
  gap: 55px;
}

.text {
  color: white;
  font-family: obviously-variable, sans-serif;
  font-weight: bolder;
  margin: 0 0px 20px 0px;
}
.text > p:first-child {
  margin-bottom: 30px;
  font-size: 24px;
}
.text > p:last-child {
  color: white;
  font-family: obviously-variable, sans-serif;
  font-weight: normal;
}

.text > ul {
  font-weight: normal;
}
.categories {
  color: white;
  font-family: obviously-variable, sans-serif;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 55px 0 55px;
}

.categories > div {
  border-color: #ffffff;
  border: 2px solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.categories > div:hover {
  color: #f5e64f;
  border-radius: 20px;
  border-color: #f5e64f;
  font-weight: bolder;
}

.categories > div > p {
  text-align: center;
}
@font-face {
  font-family: "Projekt Blackbird";
  src: url("fonts/PROJEKT BLACKBIRD.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.gallery > div {
  width: 100%;
  height: 800px;
}

footer {
  color: rgb(178, 178, 178);
  font-family: obviously-variable, sans-serif;
  font-weight: normal;
}
footer > p {
  margin: 20px 0 20px 0;
  text-align: center;
  padding: 0 20px 0 20px;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  padding: 0 55px 0 55px;
}
iframe {
  width: 100%;
  padding: 0 55px 0 55px;
}
.rrss {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 0 55px 0 55px;
}

.rrss > li > a {
  text-decoration: none;
  color: rgb(178, 178, 178);
  font-size: 20px;
}

.rrss > li > a:hover {
  color: #f5e64f;
}

@media screen and (max-width: 720px) {
  .project-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
  }
  .categories > div {
    display: flex;
    flex-wrap: wrap;
  }
  .text > p:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  .categories {
    padding: 0 25px 0 25px;
  }
  .header {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
  }
  .cabecera > div {
    font-size: 14px;
    top: 70px;
    padding: 0 30px 0 30px;
  }

  .cabecera > div > p {
    margin: 0;
  }
  .info {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .info > p {
    text-align: center;
  }
}

@media screen and (max-width: 407px) {
  .header > div {
    gap: 10px;
  }
}
